<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkxu.demo.mapper.Schedule_Of_TrainsMapper">
  <resultMap id="BaseResultMap" type="com.kkxu.demo.common.domain.Schedule_Of_Trains">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tarin_no" jdbcType="VARCHAR" property="tarinNo" />
    <result column="train_number" jdbcType="VARCHAR" property="trainNumber" />
    <result column="departure_station" jdbcType="VARCHAR" property="departureStation" />
    <result column="end_station" jdbcType="VARCHAR" property="endStation" />
    <result column="from_station" jdbcType="VARCHAR" property="fromStation" />
    <result column="to_station" jdbcType="VARCHAR" property="toStation" />
    <result column="departure_time" jdbcType="VARCHAR" property="departureTime" />
    <result column="arrival_time" jdbcType="VARCHAR" property="arrivalTime" />
    <result column="use_time" jdbcType="VARCHAR" property="useTime" />
    <result column="business_seat" jdbcType="VARCHAR" property="businessSeat" />
    <result column="first_class_seats" jdbcType="VARCHAR" property="firstClassSeats" />
    <result column="second_class_seats" jdbcType="VARCHAR" property="secondClassSeats" />
    <result column="high_grade_soft_berth" jdbcType="VARCHAR" property="highGradeSoftBerth" />
    <result column="soft_bed_first_class_bed" jdbcType="VARCHAR" property="softBedFirstClassBed" />
    <result column="motor_train_bed" jdbcType="VARCHAR" property="motorTrainBed" />
    <result column="hard_second_class_bed" jdbcType="VARCHAR" property="hardSecondClassBed" />
    <result column="soft_seats" jdbcType="VARCHAR" property="softSeats" />
    <result column="hard_seat" jdbcType="VARCHAR" property="hardSeat" />
    <result column="seatless" jdbcType="VARCHAR" property="seatless" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tarin_no, train_number, departure_station, end_station, from_station, to_station, 
    departure_time, arrival_time, use_time, business_seat, first_class_seats, second_class_seats, 
    high_grade_soft_berth, soft_bed_first_class_bed, motor_train_bed, hard_second_class_bed, 
    soft_seats, hard_seat, seatless
  </sql>
  <select id="selectByExample" parameterType="com.kkxu.demo.common.domain.Schedule_Of_TrainsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from schedule_of_trains
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedule_of_trains
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from schedule_of_trains
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkxu.demo.common.domain.Schedule_Of_TrainsExample">
    delete from schedule_of_trains
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkxu.demo.common.domain.Schedule_Of_Trains">
    insert into schedule_of_trains (id, tarin_no, train_number, 
      departure_station, end_station, from_station, 
      to_station, departure_time, arrival_time, 
      use_time, business_seat, first_class_seats, 
      second_class_seats, high_grade_soft_berth, soft_bed_first_class_bed, 
      motor_train_bed, hard_second_class_bed, soft_seats, 
      hard_seat, seatless)
    values (#{id,jdbcType=INTEGER}, #{tarinNo,jdbcType=VARCHAR}, #{trainNumber,jdbcType=VARCHAR}, 
      #{departureStation,jdbcType=VARCHAR}, #{endStation,jdbcType=VARCHAR}, #{fromStation,jdbcType=VARCHAR}, 
      #{toStation,jdbcType=VARCHAR}, #{departureTime,jdbcType=VARCHAR}, #{arrivalTime,jdbcType=VARCHAR}, 
      #{useTime,jdbcType=VARCHAR}, #{businessSeat,jdbcType=VARCHAR}, #{firstClassSeats,jdbcType=VARCHAR}, 
      #{secondClassSeats,jdbcType=VARCHAR}, #{highGradeSoftBerth,jdbcType=VARCHAR}, #{softBedFirstClassBed,jdbcType=VARCHAR}, 
      #{motorTrainBed,jdbcType=VARCHAR}, #{hardSecondClassBed,jdbcType=VARCHAR}, #{softSeats,jdbcType=VARCHAR}, 
      #{hardSeat,jdbcType=VARCHAR}, #{seatless,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kkxu.demo.common.domain.Schedule_Of_Trains">
    insert into schedule_of_trains
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tarinNo != null">
        tarin_no,
      </if>
      <if test="trainNumber != null">
        train_number,
      </if>
      <if test="departureStation != null">
        departure_station,
      </if>
      <if test="endStation != null">
        end_station,
      </if>
      <if test="fromStation != null">
        from_station,
      </if>
      <if test="toStation != null">
        to_station,
      </if>
      <if test="departureTime != null">
        departure_time,
      </if>
      <if test="arrivalTime != null">
        arrival_time,
      </if>
      <if test="useTime != null">
        use_time,
      </if>
      <if test="businessSeat != null">
        business_seat,
      </if>
      <if test="firstClassSeats != null">
        first_class_seats,
      </if>
      <if test="secondClassSeats != null">
        second_class_seats,
      </if>
      <if test="highGradeSoftBerth != null">
        high_grade_soft_berth,
      </if>
      <if test="softBedFirstClassBed != null">
        soft_bed_first_class_bed,
      </if>
      <if test="motorTrainBed != null">
        motor_train_bed,
      </if>
      <if test="hardSecondClassBed != null">
        hard_second_class_bed,
      </if>
      <if test="softSeats != null">
        soft_seats,
      </if>
      <if test="hardSeat != null">
        hard_seat,
      </if>
      <if test="seatless != null">
        seatless,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tarinNo != null">
        #{tarinNo,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureStation != null">
        #{departureStation,jdbcType=VARCHAR},
      </if>
      <if test="endStation != null">
        #{endStation,jdbcType=VARCHAR},
      </if>
      <if test="fromStation != null">
        #{fromStation,jdbcType=VARCHAR},
      </if>
      <if test="toStation != null">
        #{toStation,jdbcType=VARCHAR},
      </if>
      <if test="departureTime != null">
        #{departureTime,jdbcType=VARCHAR},
      </if>
      <if test="arrivalTime != null">
        #{arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="businessSeat != null">
        #{businessSeat,jdbcType=VARCHAR},
      </if>
      <if test="firstClassSeats != null">
        #{firstClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="secondClassSeats != null">
        #{secondClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="highGradeSoftBerth != null">
        #{highGradeSoftBerth,jdbcType=VARCHAR},
      </if>
      <if test="softBedFirstClassBed != null">
        #{softBedFirstClassBed,jdbcType=VARCHAR},
      </if>
      <if test="motorTrainBed != null">
        #{motorTrainBed,jdbcType=VARCHAR},
      </if>
      <if test="hardSecondClassBed != null">
        #{hardSecondClassBed,jdbcType=VARCHAR},
      </if>
      <if test="softSeats != null">
        #{softSeats,jdbcType=VARCHAR},
      </if>
      <if test="hardSeat != null">
        #{hardSeat,jdbcType=VARCHAR},
      </if>
      <if test="seatless != null">
        #{seatless,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkxu.demo.common.domain.Schedule_Of_TrainsExample" resultType="java.lang.Long">
    select count(*) from schedule_of_trains
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update schedule_of_trains
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tarinNo != null">
        tarin_no = #{record.tarinNo,jdbcType=VARCHAR},
      </if>
      <if test="record.trainNumber != null">
        train_number = #{record.trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.departureStation != null">
        departure_station = #{record.departureStation,jdbcType=VARCHAR},
      </if>
      <if test="record.endStation != null">
        end_station = #{record.endStation,jdbcType=VARCHAR},
      </if>
      <if test="record.fromStation != null">
        from_station = #{record.fromStation,jdbcType=VARCHAR},
      </if>
      <if test="record.toStation != null">
        to_station = #{record.toStation,jdbcType=VARCHAR},
      </if>
      <if test="record.departureTime != null">
        departure_time = #{record.departureTime,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivalTime != null">
        arrival_time = #{record.arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="record.useTime != null">
        use_time = #{record.useTime,jdbcType=VARCHAR},
      </if>
      <if test="record.businessSeat != null">
        business_seat = #{record.businessSeat,jdbcType=VARCHAR},
      </if>
      <if test="record.firstClassSeats != null">
        first_class_seats = #{record.firstClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="record.secondClassSeats != null">
        second_class_seats = #{record.secondClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="record.highGradeSoftBerth != null">
        high_grade_soft_berth = #{record.highGradeSoftBerth,jdbcType=VARCHAR},
      </if>
      <if test="record.softBedFirstClassBed != null">
        soft_bed_first_class_bed = #{record.softBedFirstClassBed,jdbcType=VARCHAR},
      </if>
      <if test="record.motorTrainBed != null">
        motor_train_bed = #{record.motorTrainBed,jdbcType=VARCHAR},
      </if>
      <if test="record.hardSecondClassBed != null">
        hard_second_class_bed = #{record.hardSecondClassBed,jdbcType=VARCHAR},
      </if>
      <if test="record.softSeats != null">
        soft_seats = #{record.softSeats,jdbcType=VARCHAR},
      </if>
      <if test="record.hardSeat != null">
        hard_seat = #{record.hardSeat,jdbcType=VARCHAR},
      </if>
      <if test="record.seatless != null">
        seatless = #{record.seatless,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update schedule_of_trains
    set id = #{record.id,jdbcType=INTEGER},
      tarin_no = #{record.tarinNo,jdbcType=VARCHAR},
      train_number = #{record.trainNumber,jdbcType=VARCHAR},
      departure_station = #{record.departureStation,jdbcType=VARCHAR},
      end_station = #{record.endStation,jdbcType=VARCHAR},
      from_station = #{record.fromStation,jdbcType=VARCHAR},
      to_station = #{record.toStation,jdbcType=VARCHAR},
      departure_time = #{record.departureTime,jdbcType=VARCHAR},
      arrival_time = #{record.arrivalTime,jdbcType=VARCHAR},
      use_time = #{record.useTime,jdbcType=VARCHAR},
      business_seat = #{record.businessSeat,jdbcType=VARCHAR},
      first_class_seats = #{record.firstClassSeats,jdbcType=VARCHAR},
      second_class_seats = #{record.secondClassSeats,jdbcType=VARCHAR},
      high_grade_soft_berth = #{record.highGradeSoftBerth,jdbcType=VARCHAR},
      soft_bed_first_class_bed = #{record.softBedFirstClassBed,jdbcType=VARCHAR},
      motor_train_bed = #{record.motorTrainBed,jdbcType=VARCHAR},
      hard_second_class_bed = #{record.hardSecondClassBed,jdbcType=VARCHAR},
      soft_seats = #{record.softSeats,jdbcType=VARCHAR},
      hard_seat = #{record.hardSeat,jdbcType=VARCHAR},
      seatless = #{record.seatless,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkxu.demo.common.domain.Schedule_Of_Trains">
    update schedule_of_trains
    <set>
      <if test="tarinNo != null">
        tarin_no = #{tarinNo,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        train_number = #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="departureStation != null">
        departure_station = #{departureStation,jdbcType=VARCHAR},
      </if>
      <if test="endStation != null">
        end_station = #{endStation,jdbcType=VARCHAR},
      </if>
      <if test="fromStation != null">
        from_station = #{fromStation,jdbcType=VARCHAR},
      </if>
      <if test="toStation != null">
        to_station = #{toStation,jdbcType=VARCHAR},
      </if>
      <if test="departureTime != null">
        departure_time = #{departureTime,jdbcType=VARCHAR},
      </if>
      <if test="arrivalTime != null">
        arrival_time = #{arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null">
        use_time = #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="businessSeat != null">
        business_seat = #{businessSeat,jdbcType=VARCHAR},
      </if>
      <if test="firstClassSeats != null">
        first_class_seats = #{firstClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="secondClassSeats != null">
        second_class_seats = #{secondClassSeats,jdbcType=VARCHAR},
      </if>
      <if test="highGradeSoftBerth != null">
        high_grade_soft_berth = #{highGradeSoftBerth,jdbcType=VARCHAR},
      </if>
      <if test="softBedFirstClassBed != null">
        soft_bed_first_class_bed = #{softBedFirstClassBed,jdbcType=VARCHAR},
      </if>
      <if test="motorTrainBed != null">
        motor_train_bed = #{motorTrainBed,jdbcType=VARCHAR},
      </if>
      <if test="hardSecondClassBed != null">
        hard_second_class_bed = #{hardSecondClassBed,jdbcType=VARCHAR},
      </if>
      <if test="softSeats != null">
        soft_seats = #{softSeats,jdbcType=VARCHAR},
      </if>
      <if test="hardSeat != null">
        hard_seat = #{hardSeat,jdbcType=VARCHAR},
      </if>
      <if test="seatless != null">
        seatless = #{seatless,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkxu.demo.common.domain.Schedule_Of_Trains">
    update schedule_of_trains
    set tarin_no = #{tarinNo,jdbcType=VARCHAR},
      train_number = #{trainNumber,jdbcType=VARCHAR},
      departure_station = #{departureStation,jdbcType=VARCHAR},
      end_station = #{endStation,jdbcType=VARCHAR},
      from_station = #{fromStation,jdbcType=VARCHAR},
      to_station = #{toStation,jdbcType=VARCHAR},
      departure_time = #{departureTime,jdbcType=VARCHAR},
      arrival_time = #{arrivalTime,jdbcType=VARCHAR},
      use_time = #{useTime,jdbcType=VARCHAR},
      business_seat = #{businessSeat,jdbcType=VARCHAR},
      first_class_seats = #{firstClassSeats,jdbcType=VARCHAR},
      second_class_seats = #{secondClassSeats,jdbcType=VARCHAR},
      high_grade_soft_berth = #{highGradeSoftBerth,jdbcType=VARCHAR},
      soft_bed_first_class_bed = #{softBedFirstClassBed,jdbcType=VARCHAR},
      motor_train_bed = #{motorTrainBed,jdbcType=VARCHAR},
      hard_second_class_bed = #{hardSecondClassBed,jdbcType=VARCHAR},
      soft_seats = #{softSeats,jdbcType=VARCHAR},
      hard_seat = #{hardSeat,jdbcType=VARCHAR},
      seatless = #{seatless,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  自建查询-->
  <select id="selectstation" parameterType="java.lang.String" resultType="com.kkxu.demo.common.domain.Schedule_Of_Trains">
        select * from  schedule_of_trains
        where  departure_station=#{departure_station,jdbcType=VARCHAR}
        and end_station=#{end_station,jdbcType=VARCHAR}
        order by use_time desc ;
    </select>
</mapper>