<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<aside class="main-sidebar" th:fragment="menu">-->
    <section class="sidebar" style="position:fixed;width: 15%" th:fragment="menu">
            <form action="/scheduleOfTrainfromstationtotostation" method="get" class="sidebar-form" style="font-size: large;">请输入站点查询车次信息
                    <input type="text" name="from_station" class="form-control" placeholder="起点站">
                    <input type="text" name="to_station" class="form-control" placeholder="终点站">
                <button class="btn btn-block btn-primary btn-lg">查询</button>
            </form>
<!--        </ul>-->
    </section>
    <!-- /.sidebar -->

<!--</aside>-->
</html>