<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户信息中心</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="../static/css/pricing-table-global.css" th:href="@{/css/pricing-table-global.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/listtrains}">大厅</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a th:href="@{/index}">Home</a>
                </li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/services}">Services</a></li>
                        <li><a th:href="@{/pricing}">Pricing Tables</a></li>
                        <!--              <li><a th:href="@{/testimonials}">Testimonials</a></li>-->
                        <!--              <li><a th:href="@{/team}">Our Team</a></li>-->
                        <!--              <li><a th:href="@{/blog}">Blog</a></li>-->
                        <li><a th:href="@{/blogsingle}">Blog Article</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/404}">404</a></li>
                    </ul>
                </li>
                <!--          <li class="dropdown">-->
                <!--            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>-->
                <!--            <ul class="dropdown-menu">-->
                <!--              <li><a href="portfolio.html">Portfolio</a></li>-->
                <!--              <li><a href="portfolio4.html">Portfolio 4 Columns</a></li>-->
                <!--              <li><a href="project-single.html">Single Project</a></li>-->
                <!--            </ul>-->
                <!--          </li>-->
            </ul>
            </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row sinfo">
        <div class="col-lg-4">
            <h4>Your Information</h4>
            <br>
            <div class="cinfo">
                <img src="img/icons/clocks.svg" alt="">
            </div>
            <p>
                姓名: <a style="color: #00a65a;font-weight: bold;">[[${user.userRealName}]]</a>
                <br/>
                联系电话: <a style="color: #00a65a;font-weight: bold;">[[${user.userPhoneNumber}]]</a>
            </p>
            <hr>
            <div class="cinfo">
                <img src="img/icons/rss.svg" alt="">
            </div>
            <p>
                会员等级: <a style="color: #e09018;font-weight: bold;">[[${user.userLeixing}]]</a>
                <br/>
                邮寄地址: <a style="color:  #e09018;font-weight: bold;">[[${user.userAddress}]]</a>
            </p>
            <hr>
            <div class="cinfo">
                <img src="img/icons/android.svg" alt="">
            </div>
            <p>
                邮箱地址: <a style="color: #4d28e0;font-weight: bold">[[${user.userEmail}]]</a>
                <br/>
                账号密码: <a style="color: #4d28e0;font-weight: bold" >[[${user.userPassword}]]</a>

            </p>
            <hr>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-8">
            <h4>如果您需要修改您的个人信息，请填写下表</h4>
            <p>If you need to modify your personal information, please fill in the form below.(Phone numbers are not allowed to be modified)</p>
            <br>

            <form action="/update" class="contact-form php-mail-form" role="form"   method="POST">

                <div class="form-group">
                    <a>真实姓名</a>
                    <input type="name" name="user_real_name" class="form-control" id="contact-name" placeholder="Your RealName" required="required"
                           data-rule="minlen:2" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <a>邮箱地址</a>
                    <input type="email" name="user_email" class="form-control" id="contact-email" placeholder="Your Email"
                           data-rule="email" data-msg="Please enter a valid email">
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <a>车票邮寄地址</a>
                    <input type="text" name="user_address" class="form-control" id="contact-subject" placeholder="Mailing Address"
                           data-msg="Please enter at least 8 chars of subject">
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <a>身份证号码</a>
                    <input type="text" name="user_id_number" class="form-control"  placeholder="Id Number"
                           data-msg="Please enter at least 8 chars of subject">
                    <div class="validate"></div>
                </div>
<!--                <div class="loading"></div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your information has been updated. Thank you!</div>-->

                <div class="form-send">
                    <button type="submit" class="btn btn-large">Update Information</button>
                    <a style="color: #e05c1b;filter: alpha(opacity=50);" >[[${message}]]</a>
                </div>

            </form>

        </div>
        <!-- col-lg-8 -->
    </div>
    <!-- row -->
</div>
<!-- container -->


<!--  &lt;!&ndash; FOOTER &ndash;&gt;-->
<!--  <div id="f">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <h5 class="centered">Contact Information</h5>-->
<!--        <br>-->

<!--        <div class="col-lg-4">-->
<!--          <p>ABOUT <b>GOOD</b> STUDIO</p>-->
<!--          <p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>MAIN OFFICE</p>-->
<!--          <p><small>-->
<!--						Richardson Ave. 984<br/>-->
<!--						London, UK.<br/>-->
<!--						+44 3893-4904-->
<!--					</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>OUR NEWSLETTER</p>-->
<!--          <p><small>Each month we collect the best stuff around the design world and share it with you.</small></p>-->
<!--          <p><input type="text" placeholder="Add your email here" class="form-control flat" /></p>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; /row &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /Footer &ndash;&gt;-->

  <div id="copyrights">
    <div class="container">
        <p> &copy; Copyrights <strong>12307</strong>. All Rights Reserved - 四川大学 许康</p>

      </p>
      <div class="credits">

      </div>
    </div>
  </div>
  <!-- / copyrights -->

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/php-mail-form/validate.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
