<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Good - Bootstrap Corporate Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="../static/css/pricing-table-global.css" th:href="@{/css/pricing-table-global.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">GOOD</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a th:href="@{/index}">Home</a>
                </li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/services}">Services</a></li>
                        <li><a th:href="@{/pricing}">Pricing Tables</a></li>
                        <!--              <li><a th:href="@{/testimonials}">Testimonials</a></li>-->
                        <!--              <li><a th:href="@{/team}">Our Team</a></li>-->
                        <!--              <li><a th:href="@{/blog}">Blog</a></li>-->
                        <li><a th:href="@{/blogsingle}">Blog Article</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/404}">404</a></li>
                    </ul>
                </li>
                <!--          <li class="dropdown">-->
                <!--            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>-->
                <!--            <ul class="dropdown-menu">-->
                <!--              <li><a href="portfolio.html">Portfolio</a></li>-->
                <!--              <li><a href="portfolio4.html">Portfolio 4 Columns</a></li>-->
                <!--              <li><a href="project-single.html">Single Project</a></li>-->
                <!--            </ul>-->
                <!--          </li>-->
            </ul>
            </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row sinfo">
        <div class="col-lg-4">
            <h4>Our Information</h4>
            <br>
            <div class="cinfo">
                <img src="img/icons/clocks.svg" alt="">
            </div>
            <p>
                Monday to Friday / 7:00 - 18:00<br/> Saturday / 9:00 - 15:00
            </p>
            <hr>
            <div class="cinfo">
                <img src="img/icons/rss.svg" alt="">
            </div>
            <p>
                Richardson Ave. 984<br/> London, UK.
            </p>
            <hr>
            <div class="cinfo">
                <img src="img/icons/android.svg" alt="">
            </div>
            <p>
                +44 9845-4343<br/> good@goodagency.com
            </p>
            <hr>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-8">
            <h4>Need To Contact Us?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <br>

            <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

                <div class="form-group">
                    <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name"
                           data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email"
                           data-rule="email" data-msg="Please enter a valid email">
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject"
                           data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                    <div class="validate"></div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message"
                              rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                    <div class="validate"></div>
                </div>

                <div class="loading"></div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <div class="form-send">
                    <button type="submit" class="btn btn-large">Send Message</button>
                </div>

            </form>

        </div>
        <!-- col-lg-8 -->
    </div>
    <!-- row -->
</div>
<!-- container -->


<!--  &lt;!&ndash; FOOTER &ndash;&gt;-->
<!--  <div id="f">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <h5 class="centered">Contact Information</h5>-->
<!--        <br>-->

<!--        <div class="col-lg-4">-->
<!--          <p>ABOUT <b>GOOD</b> STUDIO</p>-->
<!--          <p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>MAIN OFFICE</p>-->
<!--          <p><small>-->
<!--						Richardson Ave. 984<br/>-->
<!--						London, UK.<br/>-->
<!--						+44 3893-4904-->
<!--					</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>OUR NEWSLETTER</p>-->
<!--          <p><small>Each month we collect the best stuff around the design world and share it with you.</small></p>-->
<!--          <p><input type="text" placeholder="Add your email here" class="form-control flat" /></p>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; /row &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /Footer &ndash;&gt;-->

<!--  <div id="copyrights">-->
<!--    <div class="container">-->
<!--      <p> &copy; Copyrights <strong>Good</strong>. All Rights Reserved - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->

<!--      </p>-->
<!--      <div class="credits">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; / copyrights &ndash;&gt;-->

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/php-mail-form/validate.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
