<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公告 12307 Tickets</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="../static/css/pricing-table-global.css" th:href="@{/css/pricing-table-global.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/listtrains}">10307 Tickets</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{/tologin}" >全部订单</a></li>-->
                        <li><a th:href="@{/displayorder}">全部订单</a></li>
                        <li><a th:href="@{/payedorder1}">已支付订单</a></li>
                        <li><a th:href="@{/notpayedorder1}">待支付订单</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/tologin}">用户登录</a></li>
                        <li><a th:href="@{/toregister}">用户注册</a></li>
                        <li><a th:href="@{/userinfo}">用户信息</a></li>
                        <li><a th:href="@{/showPassengers}">旅客信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/notice}">公告</a></li>
                        <li><a th:href="@{/404}">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<!-- faqwrap -->
<div id="faqwrap">
    <div class="container">
        <div class="row">
            <h1>12307 Tickets公告</h1>
        </div>
        <div class="container sinfo">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        <span class="fui-plus"></span>[[${notice0.title}]]------[[${notice0.createtime}]]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>[[${notice0.content}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">
                                        <span class="fui-plus"></span> [[${notice1.title}]]------[[${notice1.createtime}]]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>[[${notice1.content}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree">
                                        <span class="fui-plus"></span> [[${notice2.title}]]------[[${notice2.createtime}]]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>[[${notice2.content}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour">
                                        <span class="fui-plus"></span> [[${notice3.title}]]------[[${notice3.createtime}]]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>[[${notice3.content}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFive">
                                        <span class="fui-plus"></span> [[${notice4.title}]]------[[${notice4.createtime}]]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>[[${notice4.content}]]</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- panel-group -->
                </div>
                <!-- col-lg-8 -->

                <div class="col-lg-4">
                    <div class="alert alert-success">
                        <h4>最新通知</h4>
                        <p>尊敬的用户您好：

                            为更好的为您提供服务，微信在线购票系统已于2021年5月1日进行系统升级维护，现购票系统已正常运行，如有购票异常现象，请您清除微信缓存后再尝试购票。

                            演出场馆自助取票机已升级完毕，可以正常取票。其他场馆自助取票机将在2021年5月5日恢复取票服务。由此给您带来的不便，我们深表歉意，衷心的感谢您对我们的理解与支持！

                            票务咨询热线：400-0471-109

                            12307 Tickets

                            2021年04月28日.</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- /faqwrap -->


<!-- /container -->



<div id="copyrights">
    <div class="container">
        <p> &copy; Copyrights <strong>Good</strong>. All Rights Reserved - scu xukang
        </p>
        <div class="credits">

        </div>
    </div>

</div>
<!-- / copyrights -->

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/php-mail-form/validate.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
