<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单中心-12307 Tickets</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/ionicons.min.css"
          th:href="@{/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">

    <link rel="stylesheet" href="css/_all-skins.min.css" th:href="@{/css/_all-skins.min.css}">
    <!--          th:href="@{css/bootstrap.min.css}"/>-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="../static/css/pricing-table-global.css" th:href="@{/css/pricing-table-global.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}">


    <!-- Libraries CSS Files -->
    <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="hold-transition skin-purple sidebar-mini">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/listtrains}" >10307票务</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}" >系统首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >订单中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/displayorder}">全部订单</a></li>
                        <li><a th:href="@{/payedorder1}">已支付订单</a></li>
                        <li><a th:href="@{/notpayedorder1}">待支付订单</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >用户中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/tologin}" >用户登录</a></li>
                        <li><a th:href="@{/toregister}">用户注册</a></li>
                        <li><a th:href="@{/touserinfo}">用户信息</a></li>
                        <li><a th:href="@{/showPassengers}">旅客信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >其他 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/notice}">公告</a></li>
                        <li><a th:href="@{/404}">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="wrapper">
    <!-- Main Header -->
<!--    <div th:replace="~{include/menu :: menu}"></div>-->
<!--    <div class="content-wrapper">-->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h3 style="font-weight: bold;text-align: center">已支付订单</h3>
                        <div class="box-body">
                            <table id="table1" class="table table-bordered table-hover" th:name="订单详情">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div id="copyrights">
            <div class="container">
                <p> &copy; Copyrights <strong>Good</strong>. All Rights Reserved - scu xukang
                </p>
                <div class="credits">

                </div>
            </div>

        </div>

        <!-- jQuery 3 -->
        <script src="js/jquery.min.js"
                th:src="@{/js/jquery.min.js}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="js/bootstrap.min.js"
                th:src="@{/js/bootstrap.min.js}"></script>
        <!-- AdminLTE App -->
        <script src="js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>

        <script src="js/bootstrap-table.js"
                th:src="@{/js/bootstrap-table.js}"></script>
        <script src="js/bootstrap-table-zh-CN.js"
                th:src="@{/js/bootstrap-table-zh-CN.js}"></script>

        <script src="js/layer.js"
                th:src="@{/js/layer.js}"></script>

</body>
</html>

<script>
    $(function () {

        window.operateEvents = {
            //预定/
            'click .btn_del': function (e, value, row, index) {
                var train_number = row.train_number;
                layer.confirm("确认预定: " + row.name + "  ?", {icon: 3, title: '预定操作'}, function (index) {
                    //do something
                    $.ajax({
                        type: "post",
                        url: "/yuding",
                        contentType: "application/json",
                        data: JSON.stringify({"train_number": train_number}),
                        success: function (msg) {
                            if (msg["success"]) {
                                $('#table1').bootstrapTable('destroy', {
                                    field: 'train_number',
                                    values: [train_number]
                                });
                                layer.msg("操作成功", {time: 700});
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        };

        $('#table1').bootstrapTable('destroy').bootstrapTable({
            method: 'get',
            url: "/payedorder",
            striped: true,
            dataField: "list",
            totalField: "total",
            pageNumber: 1,
            pageSize: 10,
            pagination: true,
            queryParamsType: 'limit',
            // search: true,
            queryParams: function (params) {
                return {
                    pageSize: params.limit,
                    pageNo: params.offset / params.limit + 1
                }
            },
            sidePagination: 'server',
            pageList: "[10, 25, 50, 100, all]",
            showRefresh: true,
            clickToSelect: true,
            toolbarAlign: 'left',
            buttonsAlign: 'right',
            toolbar: '#toolbar',
            showColumns: false,
            paginationLoop: false,
            columns: [
                {
                    title: '订单号',
                    field: 'orderId',
                    visible: false,
                    width: 160
                },
                // {
                //     //  title: '全选/反选',
                //     checkbox: true
                // }
                // ,
                {
                    title: '用户电话',
                    field: 'userPhoneNumber',
                    visible: true,
                    width: 160
                },
                // {
                //     title: '乘客电话',
                //     field: 'passengerPhoneNumber',
                //     width: 160,
                //     align: 'center'
                // },
                {
                    title: '乘客身份证号',
                    field: 'passengerIdNumber',
                    width: 160,
                    align: 'left'
                }, {
                    title: '起点站',
                    field: 'startStationName',
                    visible: true,
                    width: 160
                }, {
                    title: '终点站',
                    field: 'endStationName',
                    visible: true,
                    width: 160
                }, {
                    title: '车厢号',
                    field: 'carriageNo',
                    visible: true,
                    width: 160
                }, {
                    title: '座位号',
                    field: 'seatNo',
                    visible: true,
                    width: 160
                }, {
                    title: '价格/元',
                    field: 'orderMoney',
                    visible: true,
                    width: 160
                },{
                    title: '订单创建时间',
                    field: 'orderCreateTime',
                    visible: true,
                    width: 160
                },
                {
                    title: '发车时间',
                    field: 'trainStartDate',
                    visible: true,
                    width: 160
                },
                {
                    title: '订单状态',
                    field: 'orderStatus',
                    visible: true,
                    width: 160
                },
                {
                    title: '操作',
                    width: 80,
                    align: 'center',
                    formatter: function (value, row, index) {
                        return [
                            '<form action="/pay"  method="post">',
                            '<input type="hidden" name="WIDout_trade_no" value="',
                            row.orderId,
                            '">','<input type="hidden" name="WIDsubject" value="',
                            row.endStationName,
                            '">','<input type="hidden" name="WIDtotal_amount" value="',
                            row.orderMoney,
                            '">','<input type="hidden" name="WIDbody" value="',
                            row.passengerIdNumber,
                            '">',
                            '<input type="hidden" name="orderId" value="',
                            row.orderId,
                            '">',
                            '<input type="submit" class="btn btn-danger btn-xs btn_del">',
                            '</input>',
                            '</form>'

                        ].join('')
                    },
                    events: window.operateEvents
                }
            ],
            locale: 'zh-CN',
            responseHandler: function (data) {
                return data['data'];
            }

        });


        $(".remove-batch").click(function () {
            var rows = $('#table1').bootstrapTable('getSelections');
            var ids = $.map(rows, function (row) {
                return row.id;
            });

            if (ids.length > 0) {
                layer.confirm("确认删除", {icon: 3, title: '删除操作'}, function (index) {
                    //do something
                    $.ajax({
                        type: "delete",
                        url: "/deleteBooks",
                        contentType: "application/json",
                        data: JSON.stringify(ids),
                        success: function (msg) {
                            if (msg["success"]) {
                                $('#table1').bootstrapTable('refresh');
                                layer.msg("批量操作成功", {time: 700});
                                /*   $('#table1').bootstrapTable('remove', {
                                     field: 'id',
                                     values: ids
                                   });*/

                            }
                        }
                    });
                    layer.close(index);
                });
            } else {
                layer.msg("未选中行", {time: 700});
            }

        });
    })
</script>