<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Trains/scheduleOfTrainsbytrain_number">
    train_number：<input type="text" required="required" name="train_number">
    <input type="submit" value="查询">
</form>
<form action="/Trains/scheduleOfTrainsbydepartureandend">
    起点站：<input type="text" required="required" name="departure_station">
    终点站：<input type="text" required="required" name="end_station">
    <input type="submit" value="查询">
</form>
<form action="/Trains//seatTrainsbyno">
    输入车次查询余座：<input type="text" required="required" name="train_no">
    <input type="submit" value="查询">
</form>

</body>
</html>