<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公告 12307 Tickets</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="../static/css/pricing-table-global.css" th:href="@{/css/pricing-table-global.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/listtrains}">10307 Tickets</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a th:href="@{/tologin}" >全部订单</a></li>-->
                        <li><a th:href="@{/displayorder}">全部订单</a></li>
                        <li><a th:href="@{/payedorder1}">已支付订单</a></li>
                        <li><a th:href="@{/notpayedorder1}">待支付订单</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/tologin}">用户登录</a></li>
                        <li><a th:href="@{/toregister}">用户注册</a></li>
                        <li><a th:href="@{/userinfo}">用户信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/notice}">公告</a></li>
                        <li><a th:href="@{/pricing}">Pricing Tables</a></li>
                        <li><a th:href="@{/blogsingle}">Blog Article</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/404}">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<!-- Servicerwrap -->
<div id="servicewrap">
    <div class="container">
        <div class="row">
            <h1><b>Notices</b></h1>
        </div>
    </div>
</div>
<!-- /aboutrwrap -->


<!-- Intro Section -->
<div class="container sinfo">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3  th:text="${notice.getContent()}">
            </h3>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->


<!--  &lt;!&ndash; Service List &ndash;&gt;-->
<!--  <div class="container sinfo">-->
<!--    <div class="row svgicons centered">-->
<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/lettersymbol.svg">-->
<!--        <h4>Bootstrap Design</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->

<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/pencils.svg">-->
<!--        <h4>Planning</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->

<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/flask.svg">-->
<!--        <h4>Development</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /row &ndash;&gt;-->

<!--    <div class="row svgicons centered">-->
<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/loop.svg">-->
<!--        <h4>Testing</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->

<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/mountain.svg">-->
<!--        <h4>Media</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->

<!--      <div class="col-lg-4">-->
<!--        <img src="img/icons/touch.svg">-->
<!--        <h4>Multi-Devices</h4>-->
<!--        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; col-lg-4 &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /row &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /container &ndash;&gt;-->


<!--  &lt;!&ndash; Spacer Section &ndash;&gt;-->
<!--  <div id="sp1">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <br>-->
<!--        <h3>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</h3>-->
<!--        <br>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /sp1 &ndash;&gt;-->

<!--  &lt;!&ndash; Charts Section &ndash;&gt;-->
<!--  <div class="container sinfo">-->
<!--    <div class="row centered">-->
<!--      <img class="img-responsive" src="img/client-logos.png" alt="">-->
<!--    </div>-->
<!--    &lt;!&ndash; /row &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /container &ndash;&gt;-->


<!--  &lt;!&ndash; Testimonial Section&ndash;&gt;-->
<!--  <div id="g">-->
<!--    <div class="container">-->
<!--      <div class="col-lg-10 col-lg-offset-1 centered">-->
<!--        <h4>Our Happy Clients</h4>-->
<!--        <div id="carousel-example-generic" class="carousel slide">-->

<!--          &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--          <div class="carousel-inner">-->
<!--            &lt;!&ndash; First Testimonial&ndash;&gt;-->
<!--            <div class="item active">-->
<!--              <div class="col-md-10 col-md-offset-1">-->
<!--                <div class="tc centered">-->
<!--                  <img class="img-circle" src="img/pic.jpg" alt="" width="70" height="70">-->
<!--                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--                  <p>-->
<!--                    <name>Jeff Simmons - BlackTie.co</name>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /tc &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /col-md-10 &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /item &ndash;&gt;-->

<!--            &lt;!&ndash; Second Testimonial&ndash;&gt;-->
<!--            <div class="item">-->
<!--              <div class="col-md-10 col-md-offset-1">-->
<!--                <div class="tc centered">-->
<!--                  <img class="img-circle" src="img/pic2.jpg" alt="" width="70" height="70">-->
<!--                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--                  <p>-->
<!--                    <name>Paul Hastings - BlackTie.co</name>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /tc &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /col-md-10 &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /item &ndash;&gt;-->

<!--            &lt;!&ndash; First Testimonial&ndash;&gt;-->
<!--            <div class="item">-->
<!--              <div class="col-md-10 col-md-offset-1">-->
<!--                <div class="tc centered">-->
<!--                  <img class="img-circle" src="img/pic3.jpg" alt="" width="70" height="70">-->
<!--                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
<!--                  <p>-->
<!--                    <name>Matt Bedford - BlackTie.co</name>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /tc &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /col-md-10 &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /item &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /carousel-inner &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /carousel-example &ndash;&gt;-->

<!--        &lt;!&ndash; Controls &ndash;&gt;-->
<!--        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
<!--				    <span class="icon-prev"></span>-->
<!--				  </a>-->
<!--        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
<!--				    <span class="icon-next"></span>-->
<!--				  </a>-->

<!--      </div>-->
<!--      &lt;!&ndash; /col-lg-10 &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--    <br>-->
<!--  </div>-->
<!--  &lt;!&ndash; /g - testimonial &ndash;&gt;-->


<!--  &lt;!&ndash; FOOTER &ndash;&gt;-->
<!--  <div id="f">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <h5 class="centered">Contact Information</h5>-->
<!--        <br>-->

<!--        <div class="col-lg-4">-->
<!--          <p>ABOUT <b>GOOD</b> STUDIO</p>-->
<!--          <p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>MAIN OFFICE</p>-->
<!--          <p><small>-->
<!--						Richardson Ave. 984<br/>-->
<!--						London, UK.<br/>-->
<!--						+44 3893-4904-->
<!--					</small></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--          <p>OUR NEWSLETTER</p>-->
<!--          <p><small>Each month we collect the best stuff around the design world and share it with you.</small></p>-->
<!--          <p><input type="text" placeholder="Add your email here" class="form-control flat" /></p>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; /row &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /Footer &ndash;&gt;-->

<!--  <div id="copyrights">-->
<!--    <div class="container">-->
<!--      <p> &copy; Copyrights <strong>Good</strong>. All Rights Reserved - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->

<!--      </p>-->
<!--      <div class="credits">-->
<!--        -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; / copyrights &ndash;&gt;-->

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/php-mail-form/validate.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
