<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>train_id</th>
        <th>trainnumber</th>
        <th>存量</th>
        <th>存量</th>
        <th>存量</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="s:${Users}">
        <td th:text="${s.getUserPassword()}"></td>
        <td th:text="${s.getUserEmail()}"></td>
        <td th:text="${s.getUserPhoneNumber()}"></td>
        <td th:text="${s.getUserRealName()}"></td>

        <td ><form action="/goodsdetail" >
            <input th:value="${s.getId()}" name="id" type="hidden">
            <input type="submit" value="详情">
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>